<h1> profile_issue_result </h1>



<table class="table">
  <tr>
    <td>議題名稱</td>
    <td>議題分類</td> 
    <td>個人投票</td>

  </tr>

  <% @issues.each do |i| %> 
  <tr>
    <td><%= link_to i.name, issue_path(i) %></td>
    <td><%= i.category.name%></td>
    <td><%= @profile_issue_ships.find_by_issue_id(i.id).decision%></td>
  </tr>
  <% end %>


</table>