<h1>你跟立委的相似度</h1>



  <% @related_legislators.each do |le|%>
    <li>
    <%= le.name%>

    <%= ((legislator_total_score(le.id).to_f)/(@profile.vote_number.to_f)*100).round(2)%>%
    </li>
  <% end %>
  

