
<div class="container">
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <h1><%= link_to "我的註冊資料", registed_data_profile_path(@profile) ,:class => "btn btn-primary btn-lg"%></h1>
  </div>
  <div class="col-md-2">
    <h1><%= link_to "我的投票結果", profile_issues_result_profile_path(@profile), :class => "btn btn-success btn-lg" %></h1>
  </div>
  <div class="col-md-2">
    <h1><%= link_to "我的立委相似度",profile_legislators_ships_profile_path(@profile),:class => "btn btn-danger btn-lg"  %></h1>
  </div>
  <div class="col-md-2">
    <h1><%= link_to "想審更多法案嗎？", issues_path, :class => "btn btn-default btn-lg"%></h1>
  </div>
  <div class="col-md-2"></div>

</div>



 

