<div id="bigbox">
  


<%= image_tag ("a1.png"), style: "width:100%; " %>

<div id="box">
  <h1>子揚 Young & 馨璍 Ariel 婚禮邀請</h1>

  <h2>婚禮資訊</h2>
  
  <ul>
    <li>宴客日：<br id="br_rwd">
    2016/ 04/ 09(六) 12:30 p.m.</li>
    <li>宴會場地：<br id="br_rwd">
        漢來大飯店巨蛋會館-漢神巨蛋9樓
    </li>
    <li>地址：<br id="br_rwd">
    高雄市左營區博愛二路767號9樓</li>
    <li>餐廳電話：07 555 9118</li>
    <li>交通資訊：<br id="br_rwd">
    高鐵左營站 轉 捷運巨蛋站 出口#5
    </li>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3681.583073645282!2d120.30041541422821!3d22.669328385133092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e05060284d75d%3A0xeed11818db09135e!2zODEz6auY6ZuE5biC5bem54ef5Y2A5Y2a5oSb5LqM6LevNzY36Jmf!5e0!3m2!1szh-TW!2stw!4v1457452258014" frameborder="0" style="border:0" allowfullscreen></iframe>
  </ul>

  <h2>After Party - 鬲离咖啡</h2>
  <ul>
    <li>時間：<br id="br_rwd">
    2016/ 04/ 09(六) 3:30 p.m.</li>
    <li>場地：鬲离咖啡</li>
    <li>地址：<br id="br_rwd">
    813高雄市左營區新上街253號</li>
    <li>Cafe電話：07 556 6685</li>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3681.574180695257!2d120.3022574649613!3d22.66965973513288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xe5e4538c2c92ddcf!2z6ayy56a75ZKW5ZWh6aSo!5e0!3m2!1szh-TW!2stw!4v1457452189858" width="600" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
  </ul>
</div>

</div>