    <%if i.category.name == "司法/法制" %>
    <td>
      <i class="fa fa-gavel"></i>
    </td>

    <% elsif i.category.name == "外交/國防" %>
      <td>
        <i class="fa fa-space-shuttle"></i>
      </td>

    <% elsif i.category.name == "內政"%>
      <td>
        <i class="fa fa-users"></i>
      </td>

    <%elsif i.category.name == "財政"%>
      <td>
        <i class="fa fa-line-chart"></i>
      </td>
      
    <%elsif i.category.name == "經濟"%>
      <td>
        <i class="fa fa-usd"></i>
      </td>
      
    <%elsif i.category.name == "交通"%>
      <td>
        <i class="fa fa-train"></i>
      </td>
      
    <%elsif i.category.name == "教育/文化" %>
      <td>
        <i class="fa fa-university"></i>
      </td>
      
    <%elsif i.category.name == "社福/衛環" %>
      <td>
        <i class="fa fa-wheelchair"></i>
      </td>
    <% end %>