<h1 class="text-center page_title">
  第八屆立法委員
</h1>

<table class="table">
  <tr>
    <td>領域</td>
    <td>1st(票數)</td>
    <td>2nd(票數)</td>
    <td>3rd(票數)</td>
  </tr>

  <% @categories_all.each do |c|%>
    <tr>
      <td> <%=c.name%></td>
      <td>
        <%= render :partial => 'legislators', :locals => { :le => Legislator.get_higher_legislators_in_category(c.english_name)[0]}%>   
      </td>
      <td>
         <%= render :partial => 'legislators', :locals => { :le => Legislator.get_higher_legislators_in_category(c.english_name)[1]}%>
      </td>
      <td>
        <%= render :partial => 'legislators', :locals => { :le => Legislator.get_higher_legislators_in_category(c.english_name)[2]}%>
      </td>
    </tr>
  <%end%>
</table>
