<h1>Category index</h1>

<table class="table">
  <tr>
    <td>分類</td>
    <td>議題數量</td>
    <td>法案數量</td>
    <td>icon link</td>
  </tr>


  <% @categories.each do |c|%>
    <tr>
      <td><%= c.name %></td>  
      <td><%= c.issues.count %></td>
      <td><%= c.votes.count%></td> 
      
      <%if c.name == "司法/法制"%> 
        <td>
          <i class="fa fa-gavel"></i>

        </td>

      <%elsif c.name == "外交/國防"%>
        <td>
          <i class="fa fa-space-shuttle"></i>
        </td>
      <%elsif c.name == "內政"%>
        <td>
          <i class="fa fa-users"></i>
        </td>
      <%elsif c.name == "財政"%>
        <td>
          <i class="fa fa-line-chart"></i>
        </td>
      <%elsif c.name == "經濟"%>
        <td>
          <i class="fa fa-usd"></i>
        </td>
      <%elsif c.name == "交通"%>
        <td>
          <i class="fa fa-train"></i>
        </td>
      <%elsif c.name == "教育/文化"%>
        <td>
          <i class="fa fa-university"></i>
        </td>
      <%elsif c.name == "社福/衛環"%>
        <td>
          <i class="fa fa-wheelchair"></i>
        </td>
      <% end%>

    </tr>
  <% end %>


</table>