// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: #F0F0F0;
}

.nav2{
  background: black;
}


.bo{
  position:relative;
  top:300px;
}

#issue-show .voted{
  background: gray;
}

#issue-show .not-voted{
  background: black;
}


#issue_photo img{
  height:200px;
  width:200px; 
  border-radius: 500px;

}

#issue_board{
  font-family: "Microsoft JhengHei","Times New Roman",Georgia,Serif;
  border-width:9px; 
  border-style:outset;
  border-radius: 300px;
  text-align:center;
  background: black;
  margin:2%;
}

#issue_board a{
  color:white;
  text-decoration: none;
}

td{
  font-size:20px;
}




.nav-tabs a{
  font-family: "標楷體","Times New Roman",Georgia,Serif;
  font-size: 150%;
  line-height:center;
}

#log_in_control_bar{
  text-align:center; 

}

#log_in_control_bar div{
  font-size:200%;
  font-family: "標楷體","Times New Roman",Georgia,Serif;
  color: white;
}



#issue_show_photo img{
  height:400px;
  width:400px; 
  border-radius: 500px;

}









