// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav1{
  height:30px;
  margin:0;
}

#nav1 .col-md-1{
  margin-top:15px;
}

#nav1 .col-md-1 a{
  margin-top:10px;
  color:black;
  font-size:16px;
}


.nav2{
  background: #0ce8e2;
  height:40px;
}

#jksong_logo  img{
  margin-top:-10px;
  height:40px;
}



.bo{
  position:relative;
  top:300px;
}

#issue-show .voted{
  background: white;
}

#issue-show .not-voted{
  background: white;
}


#issue_board{
  font-family: "Microsoft JhengHei","Times New Roman",Georgia,Serif;
  border-width:2px; 
  border-style:outset;
  text-align:center;
  background: black;
  margin-top:1%;
  margin-bottom:1%;
  margin-right:4%;
  margin-left: 4%;
}

#issue_board a{
  color:black;
  text-decoration: none;
}

td{
  font-size:20px;
}




.nav-tabs a{
  font-family: "標楷體","Times New Roman",Georgia,Serif;
  font-size: 150%;
  line-height:center;
}

#log_in_control_bar{
  margin-top:5px;
  text-align:center; 

}

#log_in_control_bar div{
  font-size:200%;
  font-family: "標楷體","Times New Roman",Georgia,Serif;
  color: white;
}



#issue_show_photo img{
  height:400px;
  width:400px; 
  border-radius: 500px;

}











