// Place all the styles related to the legislators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.raking img{
  height:50px;
  width:50px; 
}

.page_title{
  color:white;
}

#le-cate .fa{
  font-size: 200%;
  margin-top: 20%;
}

#legislator_photo{
  position: relative;
}


#legislator_photo .party_logo{
  position: absolute;
  top:70px;
  left:80px;
  height:50px;
  width:50px; 
  border-radius: 30px;
}


#legislator_photo img{
  height:100px;
  width:100px; 
  border-radius: 1px;

}

#legislator_board{
  height:200px;
  width:200px; 
  font-family: "Microsoft JhengHei","Times New Roman",Georgia,Serif;
  border-width:9px; 
  border-style:outset;
  border-radius: 300px;
  text-align:center;
  background: black;
  margin:7%;
}

#legislator_board a{
  color:white;
  text-decoration: none;
}

#legislator_show .kmt{
  background: blue;
}

#legislator_show .dpp{
  background: green;
}


#legislator_show .mkt{
  background: #FFD306 ;
}

#legislator_show .npsu{
  background: #BF0060 ;
}


#legislator_show .tsu{
  background: #FF8000 ;
}

#legislator_show .pfp{
  background: #F75000 ;
}



