// Place all the styles related to the legislators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#legislator_show{

}

#legislator_photo img{
  height:200px;
  width:200px; 
  border-radius: 500px;

}

#legislator_board{
  font-family: "Microsoft JhengHei","Times New Roman",Georgia,Serif;
  border-width:9px; 
  border-style:outset;
  border-radius: 300px;
  text-align:center;
  background: black;
  margin:4%;
}

#legislator_board a{
  color:white;
  text-decoration: none;
}
