<%= form_for @vote, :url => vote_path(@vote),:method => :patch do |v|%>

<div class="form-group">
  <%= v.label :content, "法案內容" %>
  <%= v.text_field :content, :class => "form-control" %>
</div>

<%= v.submit "更新",:class => "btn btn-primary" %>


<% end %>