<h1>法案 Index</h1>

<div>
  <%= link_to "新法案", new_vote_path,:class => "btn btn-primary"%>
</div>
<br>

<table class="table">
  <tr>
    <td><%= "法案內容" %></td>
  </tr>

  <% @votes.each do |v| %>
    <tr>
      <td><%= link_to v.content, vote_path(v) %></td>
      
    </tr>
  <% end %>

</table>


